body {
    font-family: sans-serif;
    padding: 20px;
    background: #60bbdd;
}

.hidden {
    visibility: hidden;
}

#modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: 999;
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 80vw;
    height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#subject-header {
    display: flex;
    gap: 20px;
    padding: 10px;
    background: white;
    margin: 12px;
}

.subject-row {
    display: flex;
    gap: 20px;
    padding: 10px;
    background: white;
    margin: 12px;
    border: 0.5px solid #444;
}

.subject-data {
    flex: 1;
    min-width: 120px;
    padding: 8px;
    padding-left: 20px;
    border: 1px solid #ccc;
}