body {
    font-family: sans-serif;
    font-size: 24px;
    padding: 20px;
    background: #60bbdd;
    width: 100vw;
}

.hidden {
    visibility: hidden;
}

#show-subjects-btn {
    width: 200px;
    height: 40px;
}

#modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex; 
    align-items: center; 
    justify-content: center;
    z-index: 999;
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
    cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.modal-header h2 {
  margin: 0;
  font-size: 32px;
}

#subject-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 16px;
}

#add-subject-form {
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;
}

#subject-form-container.hidden {
    display: none;
}

#add-subject-form input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-subject-form button {
    align-self: flex-end;
    padding: 6px 12px;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 80vw;
    height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    margin: 12px 0;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.header-column,
.subject-data,
.device-subject-data {
    flex: 1;
    min-width: 120px;
    padding: 10px 20px;
}

.subject-row,
.device-subject-row {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    margin: 12px 0;
    background: white;
    border: 0.5px solid #444;
}

#device-subjects {
    margin-top: 80px;
}

.device-subject-row.no-subject {
    background-color: #ef2;
}